body {
	background-color: gray;
	text-align: center;
}

h1 {
  color: lightgray;
}

input[type="text"] {
	width: 40%;
	height: 30px;
	font-size: 2em;
	margin: 10px;
	text-align: center;
	padding: 5px;
}

#result {
	padding: 50px 0;
	width: 75%;
	font-size: 5em;
	margin: 30px auto;
}